<p>todo...</p>
<!-- <form (submit)="onFormSubmit($event)" class="flexContainer">
	<dx-form
		(onInitialized)="form = $event.component"
		(onFieldDataChanged)="onFieldDataChanged($event)"
		[formData]="profile$ | async"
		[width]="420"
		[height]="'auto'">
		<dxi-item dataField="playerName">
			<dxo-label [text]="formatMessage('playerName', [])"></dxo-label>
			<dxi-validation-rule type="required"></dxi-validation-rule>
			<dxi-validation-rule type="stringLength" [min]="3" [max]="16"></dxi-validation-rule>
		</dxi-item>
		<dxi-item dataField="pictureUrl">
			<dxo-label [text]="formatMessage('pictureUrl', [])"></dxo-label>
		</dxi-item>
	</dx-form>
</form> -->


